@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish", sans-serif;
  /* font-weight: 700; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
textarea {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c7c7c7 #f1f1f1; /* For Firefox */
}

textarea::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #c7c7c7; /* Scrollbar color */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Add some padding around the thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3; /* Darken on hover */
}

/* Customize scrollbar for all textarea elements */
textarea {
  overflow-y: scroll;
  padding-right: 10px; /* To ensure text doesn’t overlap scrollbar */
}
